<div class="container-desktop">
  <div class="footer-row">
    <laksh-footer-contact></laksh-footer-contact>
  </div>
  <div class="footer-row">
    <div class="logo lakshmi-named">
      <div class="icon"></div>
    </div>
    <div class="socials">
      <div class="contact type-vk">
        <a href="https://vk.com/club223135240" target="_blank">Группа ВКонтакте</a>
      </div>
      <div class="contact type-youtube">
        <a href="https://youtube.com" target="_blank">Канал Youtube</a>
      </div>
    </div>
    <div class="contacts">
      <laksh-phone-number></laksh-phone-number>
      <laksh-email-address></laksh-email-address>
    </div>
  </div>
</div>
