<laksh-fixed-background-block [backgroundImage]="backgroundImage()"></laksh-fixed-background-block>

<div class="container-desktop">
  <div class="footer-row footer-slogan-row">
    <div class="logo lakshmi-named">
      <div class="icon"></div>
    </div>
    <div class="footer-slogan">
      <h1 class="mainpage-title">Пространство процветания</h1>
      <p class="lead"><i>Синергия природы и архитектуры, подчеркивающая Вашу уникальность.</i></p>
    </div>
  </div>
  <div class="footer-row">
    <div class="footer-contacts">
      <div class="contacts-socials">
        <div class="contacts">
          <h3>Пишите</h3>
          <laksh-phone-number></laksh-phone-number>
          <laksh-email-address></laksh-email-address>
          <laksh-contact-whatsapp></laksh-contact-whatsapp>
          <div class="address">
            <h3>Приезжайте</h3>
            <p>187331, Ленинградская область, Кировский район, г. Отрадное, 13-я линия, дом 12</p>
          </div>
          <div class="privacy">
            <p><a href="/privacy-policy">Политика конфиденциальности</a></p>
            <p><a href="/terms-of-use">Условия использования</a></p>
            <p><a href="/cookie-policy">Политика использования файлов cookie</a></p>
          </div>
        </div>
        <div class="socials">
          <h3>Заходите</h3>
          <laksh-contact-telegram></laksh-contact-telegram>
          <laksh-contact-vk></laksh-contact-vk>
          <laksh-contact-youtube></laksh-contact-youtube>
        </div>
      </div>
    </div>
    <div class="feedback-form">
      <laksh-feedback-form></laksh-feedback-form>
    </div>
  </div>
  <div class="footer-row">
    <div class="legals">
      <p>© 2022-2025. Копирование материалов с сайта разрешено только с согласия Ландшафтной студии "ЛАКШМИ".</p>
    </div>
  </div>
</div>

