@import "../../../styles/css3-flexbox.scss";
@import "../../../styles/variables.scss";

.container-desktop {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-row {
  @include css3-flex-display();
  @include css3-align-items(flex-start);
  column-gap: 2rem;

  &.footer-slogan-row {
    @include css3-align-items(center);
  }

  &.footer-legals-row {
    @include css3-flex-display();
    @include css3-align-items(center);
    column-gap: 2rem;
    margin-top: 2rem;

    > * {
      display: flex;
      @include css3-flex(1);
    }

    .legals {
              color: $color-text-gray;
    }
  
    .build-info-container {
      text-align: right;
    }
  }

  &.footer-contacts-row {
    @include css3-flex-display();
    @include css3-align-items(stretch);
    column-gap: 4rem;
  }

  @media (max-width: 800px) {
    @include css3-flex-direction(column);

    > * {
      text-align: center;
      align-items: center;
    }

    &.footer-contacts-row {
      @include css3-flex-direction(column-reverse);
      row-gap: 2rem;
    }

    .bottom-contact-list.contacts {
      margin-bottom: 2rem;
    }
  }
}

.footer-slogan-row {
  @include css3-flex-display();
  margin-bottom: 2rem;

  .footer-slogan {
    @include css3-flex();

    $footer-slogan-font-size: 70px;
    $footer-slogan-lead-font-size: 24px;
    $footer-slogan-max-width: 1300px;

    max-width: $footer-slogan-max-width;
    
    .mainpage-title {
        font-size: $footer-slogan-font-size;
        margin: 0 0 16px;
        transition: font-size 0.3s ease, max-width 0.3s ease;
        margin-bottom: 2rem;
      }
      
      p.lead {
        font-size: $footer-slogan-lead-font-size;
        color: $color-text-dark;
        opacity: 0.9;
        line-height: 1.1;
        transition: font-size 0.3s ease, max-width 0.3s ease;
        margin: 0;
      }
  }
  
  .logo {
    margin-left: -2rem;

    .icon {
      width: 25rem;
    }
  }

  @media (max-width: 1300px) {
    .footer-slogan {
      .mainpage-title {
        font-size: 70px;
      }
    }

    .logo {
      margin-left: -2rem;
  
      .icon {
        width: 20rem;
      }
    }
  }

  @media (max-width: 1000px) {
    .footer-slogan {
      .mainpage-title {
        font-size: 40px;
      }
    }

    .logo {
      margin-left: -2rem;
  
      .icon {
        width: 13rem;
      }
    }
  }

  @media (max-width: 800px) {
    .footer-slogan {
      margin-bottom: 2rem;

      .mainpage-title {
        font-size: 40px;
        margin-bottom: 1rem;
      }

      p.lead {
        font-size: 18px;
      }
    }

    .logo {
      margin-left: 0;

      .icon {
        width: 12rem;
      }
    }
  }
}

.footer-contacts {
    @include css3-flex(3);
    @include css3-flex-display(column);
    column-gap: 4rem;
    width: 100%;

    .bottom-contact-list {
      @include css3-flex-display(column);
      margin-bottom: 1rem;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .list {
        @include css3-flex-display(column);
        row-gap: 0.25rem;
        font-size: 1.2rem;
  
        p {
          font-size: 1rem;
          margin: 0;
        }
      }
    }

    .messengers-socials {
      @include css3-flex-display();
      gap: 2rem;
      margin-bottom: 2rem;

      > * {
        @include css3-flex(1);
      }

      @media (max-width: 1000px) {
        @include css3-flex-direction(column);
        text-align: center;
      }
    }

    .contacts-socials {
      @include css3-flex(1);
    }

    .privacy {
      @include css3-flex-display(column);
      row-gap: 0.25rem;

      p {
        font-size: 0.9rem;
        margin: 0;
      }

      a {
        color: $color-text-gray;
        text-decoration: none;
      }

      @media (max-width: 800px) {
        row-gap: 0;
      }
    }

    @media (max-width: 1300px) {
      @include css3-flex(2);
    }    

}

.feedback-form {
    @include css3-flex(2);
    min-width: 0; // Позволяет flex элементу сжиматься
}