@import "../../../styles/css3-flexbox";

:host {
  @include css3-flex-display();
  @include css3-flex-direction(column);
  row-gap: 0.25rem;

  a {
    font-size: 1.2rem;
    text-decoration: none;
  }
}