@import '../../../../styles/variables.scss';

.section-pad {
  /* Базовые размеры для диапазона 700px - 1900px */
  $intro-padding-top: 50px;
  $intro-padding-bottom: 100px;
  $intro-padding-sides: 2rem;
  $intro-title-font-size: 100px;
  $intro-title-lead-font-size: 24px;
  $intro-title-max-width: 1300px;

  padding-top: $intro-padding-top;
  padding-bottom: $intro-padding-bottom;
  padding-left: $intro-padding-sides;
  padding-right: $intro-padding-sides;
  max-width: $intro-title-max-width;
  transition: all 0.3s ease;

  h1.mainpage-title {
    font-size: $intro-title-font-size;
    margin: 0 0 16px;
    letter-spacing: -0.5px;
    line-height: 1;
    transition: font-size 0.3s ease, max-width 0.3s ease;
  }
  
  p.lead {
    font-size: $intro-title-lead-font-size;
            color: $color-text-dark;
    opacity: 0.9;
    line-height: 1.1;
    transition: font-size 0.3s ease, max-width 0.3s ease;
    margin: 0;
  }

  @media (max-width: 700px) {
    $intro-padding-top: 1rem;
    $intro-padding-bottom: 2rem;
    $intro-padding-sides: 0;
    $intro-title-font-size: 40px;
    $intro-title-lead-font-size: 16px;

    padding-top: $intro-padding-top;
    padding-bottom: $intro-padding-bottom;
    padding-left: $intro-padding-sides;
    padding-right: $intro-padding-sides;
    max-width: $intro-title-max-width;

    h1.mainpage-title {
      font-size: $intro-title-font-size;
      line-height: 0.8;
    }

    p.lead {
      font-size: $intro-title-lead-font-size;
    }
  }
}