@import '../../../styles/variables.scss';

.article {
  .article-details {
    margin-top: 0;
    row-gap: 2rem;
  }
}

// Адаптивность для планшетов
@media (max-width: 1000px) {
  .article {
    .article-details {
    }
  }
}

// Адаптивность для мобильных устройств
@media (max-width: 800px) {
  .article {
    .article-details {
      margin-top: 2rem;
    }
  }
}
