@import '../../../styles/variables.scss';

.article {
  .article-details {
    margin-bottom: 8rem;
    margin-top: 4rem;
    
    .details-top {
      margin-bottom: 4rem;
    }
  }
}

// Адаптивность для планшетов
@media (max-width: 1000px) {
  .article {
    .article-details {
      .details-top {
        margin-bottom: 3rem;
      }
    }
  }
}

// Адаптивность для мобильных устройств
@media (max-width: 800px) {
  .article {
    .article-details {
      margin-bottom: 6rem;
      
      .details-top {
        margin-bottom: 2rem;
      }
    }
  }
}
