@import '../../styles/variables.scss';

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

// Адаптивность для планшетов
@media (max-width: 1000px) {
  .projects-grid {
    gap: 2rem;
  }
}

// Адаптивность для мобильных устройств
@media (max-width: 800px) {
  .projects-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
