@mixin font-face-woff($family, $filename, $style, $weight) {
  font-family: $family;
  src: url("/assets/fonts/" + $filename) format('woff2');
  font-style: $style;
  font-weight: $weight;
}

@font-face {
  @include font-face-woff('Monly', 'Monly-Light.woff', normal, 400);
}

@font-face {
  @include font-face-woff('Monly', 'Monly-Bold.woff', bold, 700);
}

@font-face {
  @include font-face-woff('TT-CommonPro', 'TT_Commons_Pro_Expanded_Light.woff2', light, 300);
}

@font-face {
  @include font-face-woff('TT-CommonPro', 'TT_Commons_Pro_Expanded_Regular.woff2', normal, 400);
}

@font-face {
  @include font-face-woff('TT-CommonPro', 'TT_Commons_Pro_Expanded_Medium.woff2', medium, 500);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/materialicons.woff2") format('woff2');
}

/* fallback */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
