@mixin font-face-woff($family, $filename, $style, $weight) {
  font-family: $family;
  src: url("/assets/fonts/" + $filename) format('woff2');
  font-style: $style;
  font-weight: $weight;
}

@font-face {
  @include font-face-woff('Monly', 'Monly-Light.woff', normal, 400);
}

@font-face {
  @include font-face-woff('Monly', 'Monly-Bold.woff', bold, 700);
}

@font-face {
  @include font-face-woff('TT-CommonPro', 'TT_Commons_Pro_Expanded_Light.woff2', light, 300);
}
