@import "variables";
@import "colors";
@import "fonts";
@import "mixins";
@import "css3-mixins";
@import "css3-flexbox";
@import "elements";

* {
  box-sizing: border-box;
  touch-action: pan-y;
}

body {
  overflow-x: hidden;
}

app-root {
  overflow-x: hidden;
  width: 100%;
}

html {
  font-size: 18px;
  font-family: 'Arial';
  font-style: normal;
  overflow-x: hidden;
  overflow-y: scroll;
  @include css3-text-size-adjust(100%);
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 500;
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: $color-text-black;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}
@import "_layouts/layouts";
@import "mainpage/mainpage";

