@import "colors";
@import "fonts";
@import "mixins";
@import "css3-mixins";
@import "css3-flexbox";

html {
  font-size: 18px;
}

a {
  color: $color-text-black;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

@import "_layouts/layouts";
@import "mainpage/mainpage";
