$html-min-width: 300px;

$responsive-handset-layout-padding: 0.5rem;

// Typography    
// H1
$h1-font-size: 4rem;
$h1-lead-font-size: 1.3rem;
$h1-font-size-mobile: 2rem;
$h1-lead-font-size-mobile: 1rem;

// H2
$h2-font-size: 2.5rem;
$h2-lead-font-size: 1.2rem;
$h2-font-size-mobile: 1.5rem;
$h2-lead-font-size-mobile: 1rem;

// H3
$h3-font-size: 1.5rem;
$h3-lead-font-size: 1rem;
$h3-font-size-mobile: 1rem;
$h3-lead-font-size-mobile: 0.8rem;