laksh-layout-block-item {

  .block-item-image {
    @include css3-aspect-ratio(2, 1);
    @include background-image-style();
    margin-bottom: 0.7rem;
  }

  .block-item-title {
    font-size: 1.5rem;
  }

  .block-item-subtitle {
    margin-top: -1.5rem;
  }

  .block-item-description {
    margin-bottom: 2rem;
  }

  .buttons-row {

  }

  laksh-layout-block-item-type2 {
    @include css3-flex-display();
    @include css3-flex-direction(row-reverse);
    column-gap: 2rem;

    &.even {
      @include css3-flex-direction(row);
    }

    .text-block,
    .image-block {
      @include css3-flex();
    }
  }
}

