laksh-layout-block {

  .block-description {
    margin-bottom: 5rem;
  }

  .block-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    min-width: 1px;
    padding: 0;
    margin: 0 0 2rem 0;

    > li {
      list-style: none;
    }

    &.type2 {
      grid-template-columns: 1fr;
    }
  }
}
