body {
  &.media-handset,
  &.media-tablet {
    laksh-frontpage-banner {
      margin-left: -$responsive-handset-layout-padding;
      margin-right: -$responsive-handset-layout-padding;
    }
  }

  &.media-handset {
    laksh-frontpage-banner {
      .banner-image {
        @include css3-aspect-ratio(3, 2);
      }
    }

    laksh-block-about-us {
      .about-us-wrapper {
        .image {
          display: none;
        }
      }
    }

    laksh-block-portfolio {
      laksh-layout-block {
        .block-items-wrapper {
          grid-template-columns: 1fr;
        }
      }
    }

    laksh-block-services {
      laksh-layout-block {
        laksh-layout-block-item {
          .image-block {
            display: none;
          }
        }
      }
    }
  }
}
