@import '../../../styles/variables.scss';

.lead-content-wrapper {
    display: flex;
    column-gap: 6rem;

    .lead-text {
        flex: 3;
        font-size: 1.4rem;
        line-height: 1.2;
        color: $color-text-gray;
    }
    
    .lead-content {
        flex: 2;
    }

    @media (max-width: 800px) {
        flex-direction: column;
        row-gap: 2rem;
    }

    @media (max-width: 700px) {
        row-gap: 1rem;

        .lead-text {
            font-size: 1.2rem;
        }
    }
}