@import '../../variables.scss';

section.body {
   
    section.page-section {
        display: block;
    
        .section-content {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 2rem;

            p {
            color: $color-text-dark;
            }
        }
    }

}