section.body {
   
    section.page-section {
        display: block;
        margin-bottom: 3rem;
    
        .section-content {
            p {
            color: #333;
            }
        }
    }

}