laksh-page-footer {
  margin-top: 5rem;
  .footer-row {
    @include css3-flex-display();
    @include css3-align-items(center);
    column-gap: 2rem;

    .logo {
      .icon {
        width: 6rem;
        height: 6rem;
      }
    }

    .socials {
      @include css3-flex();
      @include css3-flex-display();
      @include css3-justify-content(center);
      column-gap: 2rem;

      .contact {
        padding: 0.5rem 0 0.5rem 4rem;
      }
    }

    .contacts {
      @include css3-flex-display(column);
      row-gap: 0.3rem;
    }
  }
}
