laksh-header-menu {
  @include css3-flex();
  @include css3-flex-display();
  @include css3-align-items(center);
  @include css3-justify-content(center);

  ul {
    @include css3-flex-display();
    column-gap: 2rem;
    padding: 0;
    margin: 0;
    font-family: 'Arial';
    font-size: 1rem;

    li {
      list-style: none;
    }
  }
}
