igon-responsive-layout {
  $background-color: #ebe8e6;
  $desktop-content-max-width: 1250px;

  &.layout-full {
    @include css3-align-items(center);
    background-color: $background-color;

    .container-desktop {
      width: $desktop-content-max-width;
    }

    .logo {
      @include css3-flex-display();
      @include css3-align-items(center);
      column-gap: 1rem;

      .icon {
        width:  8rem;
        height: 8rem;
        background-position: left center;
        background-repeat: no-repeat;
      }

      .title {
        @include css3-flex-display(column);
        font-family: 'Monly';
        font-weight: bold;
        font-size: 2rem;
        line-height: 1.1;
        .underline {
          font-size: 1.3rem;
        }
      }

      &.lakshmi-pure {
        .icon {
          background-image: url("/assets/logo-lakshmi-pure.svg");
        }
      }

      &.lakshmi-named {
        .icon {
          background-image: url("/assets/logo-lakshmi-named.svg");
        }
      }
    }

    .contact {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
      padding: 1rem 0 1rem 6rem;

      &.type-phone {
        background-image: url("/assets/images/block-contacts/phone.svg");
      }

      &.type-email {
        background-image: url("/assets/images/block-contacts/email.svg");
      }

      &.type-vk {
        background-image: url("/assets/logos/logo-vk-contour.svg");
      }

      &.type-youtube {
        background-image: url("/assets/logos/logo-youtube-contour.svg");
      }
    }

    @import "header-menu";
    @import "header";
    @import "footer";
    @import "body";
  }
}
