@import '../../../../styles/variables.scss';

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
          background-color: $color-bg-primary;
  
  &.open {
    visibility: visible;
    opacity: 1;
    
    .mobile-menu-content {
      transform: translateX(0);
    }
  }
}

.mobile-menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.mobile-menu-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .mobile-menu-nav {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 1;

    .mobile-menu-section {
      text-align: center;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          a {
            font-size: 1rem;
            text-decoration: none;
            color: $color-text-dark;
            display: block;
            padding: 0.25rem 0;
          }
        }
      }
    }
  }
}

.mobile-menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .logo {
    .icon {
      width: 7rem;
    }
  }
}



.mobile-menu-footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
