<div class="mobile-menu" [class.open]="isOpen()" viewportHeight>
  <div class="mobile-menu-overlay" (click)="closeMenu.emit()"></div>
  <div class="mobile-menu-content">
    <div class="mobile-menu-header">
      
      <div class="logo lakshmi-named">
        <div class="icon"></div>
      </div>

    </div>
    
    <nav class="mobile-menu-nav">
      <!-- Central menu -->
      <div class="mobile-menu-section" *ngIf="centerMenu().length">
        <ul>
          <li *ngFor="let item of centerMenu()">
            <a [href]="item.route">{{ item.title }}</a>
          </li>
        </ul>
      </div>
      
      <!-- Main menu -->
      <div class="mobile-menu-section">
        <ul>
          <li *ngFor="let item of menu()">
            <a [href]="item.route">{{ item.title }}</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="mobile-menu-footer">
      <laksh-header-lang-switch></laksh-header-lang-switch>
    </div>
  </div>
</div>
