<laksh-page-article 
  [title]="'Услуги'" 
  [subtitle]="'Мелочей не существует — именно детали создают совершенство'">


  <div class="container-desktop">

    <section class="page-section">
      <div class="section-content">
        <laksh-lead-content>
          <span class="lead">
            Ландшафт участка — это портрет хозяина, написанный природой и архитектурой
          </span>
          <div class="content">
            Мы видим в клиентах не только заказчиков, а партнёров и единомышленников. Для нас именно человек и его ценности становятся источником вдохновения - мы бережно воплощаем их, наделяя пространство гармонией, эстетикой и душой
          </div>
        </laksh-lead-content>
      </div>
    </section>

    <section class="page-section">
      <div class="section-content">
        <laksh-service-list></laksh-service-list>
      </div>
    </section>

  </div>
</laksh-page-article>