<div *ngIf="serviceItems.length > 0" class="service-list-wrapper">
    <laksh-service-item 
        *ngFor="let serviceItem of serviceItems; let serviceIndex = index" 
        [serviceItem]="serviceItem"
        [serviceIndex]="serviceIndex"
        [toggleStep]="getToggleStepFunction()"
        [isStepOpen]="getIsStepOpenFunction()">
    </laksh-service-item>
</div>

<div *ngIf="serviceItems.length === 0" class="service-list-wrapper">
    <div class="service-list-title">No services found</div>
</div>