<div *ngIf="serviceGroups.length > 0" class="service-list-wrapper">
    <div 
        *ngFor="let serviceGroup of serviceGroups; let groupIndex = index" 
        class="service-group-container"
        [class.even]="groupIndex % 2 === 0"
        [class.odd]="groupIndex % 2 === 1">
        
        <div class="service-group-image">
            <img [src]="serviceGroup.image" [alt]="serviceGroup.title" />
        </div>
        
        <div class="service-group-content">
            <laksh-service-group 
                [serviceGroup]="serviceGroup"
                [groupIndex]="groupIndex"
                [toggleService]="getToggleServiceFunction()"
                [isServiceOpen]="getIsServiceOpenFunction()">
            </laksh-service-group>
        </div>
    </div>
</div>

<div *ngIf="serviceGroups.length === 0" class="service-list-wrapper">
    <div class="service-list-title">No services found</div>
</div>