@import '../../../../styles/mixins.scss';

:host {
    @media (max-width: 1500px) and (min-width: 1350px) {
        .logo {
            .icon {
                width: 10rem;
            }

            .title {
                font-size: 2.8rem;
            }

            .underline {
                font-size: 1.1rem;
            }
        }
    }

    @media (max-width: 1349px) and (min-width: 550px) {
        .logo {
            .icon {
                width: 7rem;
            }

            .title {
                font-size: 2.3rem;
            }

            .underline {
                font-size: 0.9rem;
            }
        }
    }

    @media (max-width: 549px) {
        .logo {
            .icon {
                width: 6rem;
            }

            .title {
                font-size: 2.5rem;
            }

            .underline {
                font-size: 1rem;
            }
        }
    }
    
    // Стили для кликабельного логотипа
    .logo-clickable {
        cursor: pointer;
        transition: opacity 0.2s ease, transform 0.2s ease;
        
        &:hover {
            opacity: 0.8;
        }
    }
}