@import '../../../../styles/mixins.scss';

:host {
    @media (max-width: 1500px) and (min-width: 1350px) {
        .logo {
            .icon {
                width: 10rem;
            }

            .title {
                font-size: 2rem;
            }

            .underline {
                font-size: 1.1rem;
            }
        }
    }

    @media (max-width: 1349px) and (min-width: 550px) {
        .logo {
            .icon {
                width: 7rem;
            }

            .title {
                font-size: 1.5rem;
            }

            .underline {
                font-size: 1rem;
            }
        }
    }

    @media (max-width: 549px) {
        .logo {
            .icon {
                width: 5rem;
            }

            .title {
                font-size: 1.2rem;
            }

            .underline {
                font-size: 0.8rem;
            }
        }
    }
}