@import '../../../styles/variables.scss';

.project-card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  aspect-ratio: 4/3;
  
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    
    .project-overlay {
      background: rgba(0, 0, 0, 0);
    }
    
    .project-image img {
      transform: scale(1.01);
    }
  }
}

.project-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    transition: background 0.3s ease;
  }
  
  .project-description {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1rem;
    color: $color-bg-white !important;
    line-height: 1.5;
    margin: 0;
    max-width: 200px;
    text-align: right;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.project-content {
  width: 100%;
  color: $color-bg-white;
  
  .project-title {
    font-size: 1.5rem;
    color: $color-bg-white !important;
    margin: 0;
    font-weight: 500;
    line-height: 1.3;
  }
}

// Адаптивность для планшетов
@media (max-width: 900px) {
  
  .project-image .project-overlay {
    padding: 1.5rem;
  }
  
  .project-content {
    .project-title {
      font-size: 1.4rem;
    }
    
    .project-description {
      font-size: 0.95rem;
    }
  }
}

// Адаптивность для мобильных устройств
@media (max-width: 700px) {
  
  .project-image .project-overlay {
    padding: 1.25rem;
  }
  
  .project-content {
    .project-title {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }
    
    .project-description {
      font-size: 0.9rem;
      margin-bottom: 0.75rem;
    }
    
    .view-project {
      font-size: 0.8rem;
      padding: 0.4rem 0.8rem;
    }
  }
}
