@if (data().image) {

  <laksh-fixed-background-block
    [backgroundImage]="data().image"
    [fullScreen]="true"
    [backgroundGradient]="false">
    <div class="container-desktop">
      <div class="block-content">
        <laksh-section-title 
          *ngIf="data().title"
          [title]="data().title" 
          [subtitle]="data().subtitle">
        </laksh-section-title>
        <div *ngIf="data().description" class="block-description" [innerHTML]="data().description"></div>
      </div>
    </div>
  </laksh-fixed-background-block>

}

