@import '../../../../styles/css3-flexbox.scss';

:host {
    ul {
        @include css3-flex-display();
        @include css3-align-items(center);
        @include css3-justify-content(center);
        column-gap: 2rem;
        padding: 0;
        margin: 0;
        li {
            list-style: none;

            a {
                display: flex;
                @include css3-align-items(center);
                @include css3-justify-content(center);
                padding: 10px 40px;
                background-color: #102a14;
                color: #ffffff;
                text-decoration: none;
                font-family: 'Mulish', Arial, sans-serif;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                border: 2px solid #102a14;

                line-height: 1;
                font-weight: 400;
                border-radius: 60px;
                background-position: center center;

                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
                
                &:hover {
                    background-color: #1a3a1f;
                    border-color: #1a3a1f;
                }
                
                &:active {
                    transform: translateY(0);
                }

                &.plant {
                    color: #046813;
                    background-color: #ffffff;
                    border-color: #046813;
                }
            }
        }
        // На планшетах в столбик
        @media (max-width: 1349px) {
            flex-direction: column;
            gap: 0.5rem;

            li {
                a {
                    text-align: center;
                    padding: 7px 25px;
                    font-size: 16px;
                    width: 150px;
                }
            }
        }
    }
}

