@import '../../../../styles/variables.scss';

.service-item-wrapper {
    margin-bottom: 3rem;
    
    .service-item-title {
        margin-bottom: 1.5rem;
        
        h3 {
            font-size: 1.8rem;
            color: $color-primary;
            margin: 0;
            line-height: 1.2;
        }
    }
    
            .service-item-description {
            font-size: 1.1rem;
            color: $color-text-gray;
            line-height: 1.6;
            margin-bottom: 2rem;
            max-width: 800px;
        }
}

.service-item-steps {
    display: flex;
    flex-direction: column;
    
    .service-step-item {
        border-top: 1px solid $color-border-primary;
        
        &:last-child {
            border-bottom: 2px solid $color-border-primary;
        }
        
        .step-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.25rem 0;
            cursor: pointer;
            transition: all 0.2s ease;
            
            &:hover {
                .step-title {
                    h4 {
                        color: $color-primary-hover;
                    }
                }
            }
            
            .step-title {
                h4 {
                    font-size: 1.2rem;
                    color: $color-primary;
                    margin: 0;
                    transition: color 0.2s ease;
                }
            }
            
            .step-toggle {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28px;
                height: 28px;
                margin-left: 1rem;
                
                .toggle-icon {
                    font-size: 1.6rem;
                    color: $color-text-gray;
                    font-weight: 400;
                    line-height: 1;
                    transition: transform 0.3s ease;
                    display: inline-block;
                    
                    &.open {
                        transform: rotate(45deg);
                    }
                }
            }
        }
        
        .step-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
            
            .step-description {
                font-size: 1rem;
                color: $color-text-dark;
                line-height: 1.2;
                margin: 0;
                max-width: 800px;
                padding: 1rem 0 1.5rem 0;
                transition: padding 0.3s ease, line-height 0.3s ease;
            }
        }
        
        &:not(.open) .step-content .step-description {
            padding: 0;
            line-height: 0;
        }
        
        &.open .step-content {
            max-height: 300px; /* достаточно большое значение для любого контента */
        }
    }
}