<div class="container-desktop">
  <div class="header-row">
    <laksh-header-logo></laksh-header-logo>
    <div class="center-menu">
      <laksh-header-center-menu [menu]="centerMenu()"></laksh-header-center-menu>
    </div>
    <!-- @if (showMenu()) { -->
      <div class="menu">
        <laksh-header-menu [menu]="topMenu()"></laksh-header-menu>
      </div>

      <div class="lang-switch">
        <laksh-header-lang-switch></laksh-header-lang-switch>
      </div>
    <!-- } -->
    @if (showMenuToggler()) {
      <div class="menu-toggle">
        <button mat-button>
          <mat-icon fontIcon="menu"></mat-icon>
        </button>
      </div>
    }
  </div>
</div>

<laksh-nav-sticky></laksh-nav-sticky>
