<div class="container-desktop">
  <div class="header-row">
    <laksh-header-logo></laksh-header-logo>
    <div class="center-menu">
      <laksh-header-center-menu [menu]="centerMenu()"></laksh-header-center-menu>
    </div>
    <div class="header-menu">
      <laksh-header-menu [menu]="topMenu()"></laksh-header-menu>
    </div>
    <div class="menu-toggle-lang-block">
      <div class="menu-toggle">
        <button mat-button (click)="toggleMobileMenu()" [class.open]="isMobileMenuOpen()">
          <mat-icon fontIcon="menu" class="menu-icon"></mat-icon>
          <mat-icon fontIcon="close" class="close-icon"></mat-icon>
        </button>
      </div>
      <div class="lang-switch">
        <laksh-header-lang-switch></laksh-header-lang-switch>
      </div>
    </div>
  </div>
</div>

<laksh-nav-sticky></laksh-nav-sticky>

